@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Email"] = "JonathanDotore@gmail.com";
    ViewData["Name"] = "Jonathan Dotore";
}
<h1>@ViewData["Title"]</h1>
<h2>This is my e-mail @ViewData["Email"]</h2>
<h3>This is my name: @ViewData["Name"]</h3>

<p>Use this page to detail your site's privacy policy.</p>
